#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
/*The content-wrap has a bottom padding 
that is the height of the footer, ensuring 
that exactly enough space is left for the footer 
inside the container they are both in. A wrapping div is 
used here that would contain all other page content.*/

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}